@import url("https://fonts.googleapis.com/css?family=Proza+Libre");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  min-height: 100%;
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  background-repeat: no-repeat;
  background-size: cover;
}

.container:nth-of-type(1) {
  margin-top: 10vh;
}

div.container {
  background-color: #ffffff;
  margin: 0 auto 5vw auto;
  width: 60vw;
  border-radius: 10px;
  padding: 5vw;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.container-title {
  font-size: 4vw;
  color: #454545;
  text-align: center;
  margin: 0;
}

.container-p {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vw;
  color: #454545;
  line-height: 1.3;
  letter-spacing: 0.1vw;
  text-align: left;
  margin: auto 2vw auto 2vw;
  padding: 3% 3%;
}

.circle-photo {
  display: block;
  margin: 24px auto;
  width: 15vw;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 6px solid white;
}

.image-link {
  text-decoration: none;
  filter: contrast(60%);
}

.img-link {
  width: 5vw;
  line-height: 1em;
  cursor: pointer;
  margin: auto 1vw auto 1vw;
}

.acm-link {
  color: #2ab7ca;
  text-decoration: none;
}

.citrus-link {
  color: #f45b69;
  text-decoration: none;
}
p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
  font-size: 2vw;
}

h1,
h2 {
  font-family: "Proza Libre", sans-serif;
}
/* div.nav-bar {
	font-size: 30px;
	font-family: Muli;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	background-color: #d72264;
}

ul.nav-bar {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li.nav-bar {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	float: left;
} */
/*
Gradient Color scheme:
	background: linear-gradient(35deg, #CCFFFF, #FFCCCC);

Transform element to increase in size on hover
div:hover {
    transform:scale(1.1);
  }

	*/
