@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

html {
	min-height: 100%;
	background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
	background-repeat: no-repeat; 
	background-size: cover;
}

div.container {
	/* margin: 50px 10% 10% 10%; */
	background-color: #FFFFFF;
	padding: 10px;
	margin: 0 auto 5vw auto;
	width: 60%;
	border-radius: 10px;
	text-align: center;
}

.container-title {
	font-size: 4vw;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-left: 2vw;
}

.container-p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.5vw;
	letter-spacing: 0.1vw;
	text-align: left;
	margin: auto 2vw auto 2vw;
}

.circle-photo {
	display: block;
	margin: 5vw auto;
	width: 15vw;
	border-radius: 50%;
	box-shadow: 0px 2px 5px #909090;
}

.image-link {
	text-decoration: none;
}

.img-link {
	width: 5vw;
	line-height: 1em;
	cursor: pointer;
	transition: all 0.5s;
	margin: auto 1vw auto 1vw;
}
.img-link:hover {
	width: 6.5vw;
}

.acm-link {
	color: #2Ab7CA;
	text-decoration: none;
}

.citrus-link {
	color: #F45B69;
	text-decoration: none;
}

/* div.nav-bar {
	font-size: 30px;
	font-family: Muli;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	background-color: #d72264;
}

ul.nav-bar {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li.nav-bar {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	float: left;
} */
/*
Gradient Color scheme:
	background: linear-gradient(35deg, #CCFFFF, #FFCCCC);

Transform element to increase in size on hover
div:hover {
    transform:scale(1.1);
  }

	*/